;;;;;;;;;;;;;;;;;;;
; About this file ;
;;;;;;;;;;;;;;;;;;;
; Example of valid configuration options for Dreamhost Auto Backup
; script (dhbackup.py). Use this file as a guide to creating your
; own configuration.
;
;;;;;;;;;;;;;;;;
; Installation ;
;;;;;;;;;;;;;;;;
; Three locations are searched for the existence and loading of
; configuration file options. Copy this file to any of the
; following locations and file names:
;
; 1. dhbackup.cfg (next to the dhbackup.py file)
; 2. .dhbackup (in your $HOME directory)
; 3. alternate file provided as an argument to the script with
;    the `-c` or `--config-file=` option
;
; Lines started with a semi-colon are ignored by the script. Remove
; it or add it to activate/deactivate an option.


[general]

; Dreamhost API key.
; Get yours at https://panel.dreamhost.com/?tree=home.api
key: 6SHU5P2HLDAYECUM

; Local directory where the mysql dump files should be saved. Defaults
; to `backups/mysql`, so only needs to be defined when a different
; directory is preferred (e.g. tmp/dumps). Path should be relative
; to your $HOME, so don't provide absolute paths, including `~`.
;mysql_dir: backups/mysql


[mysql_users]

; This section provides a list of `user: password` combinations to
; use for mysql authentication when dumping databases to files.
;
; Remember that um can create a special mysql user for backups
; with SELECT permissions and add it to any database you want
; to backup. This allows for less maintenance (you won't have
; to edit this file and add any new users), and also less pass-
; words would be exposed here, if you have security concerns.

mysql_user1: s3cr3tp4
mysql_user2: p4ssw0rd
